.gambar {
  width: auto !important;
  height: 210px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.table > tbody > tr > * {
  vertical-align: middle;
}

a .link:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a .link:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a .link:hover {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

a .link:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}
